input, a:hover, button {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto;
}

.alert-warning {
    background: rgba(246, 199, 97, 0.5);
}

.alert-danger {
    background: rgba(246, 36, 9, 0.5);
}

.alert-success {
    background: rgba(80, 247, 88, 0.5);
}

.small-input {
    width: 45px;
    text-align: right;
}

.medium-input {
    width: 150px;
    text-align: left;    
}

.medium-input:first-child {
    margin-right: 25px;
}

body {
    margin: 10px;
}

.header {
    margin-bottom: 75px;
}

.board {
    display: grid;
    margin: 0 50px;
}

.field {
    border: 1px solid black;
    min-height: 75px;
    font-size: 75px;
    text-align: center;
}

.popup-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hidden {
    display: none;
}
