.alert-warning, .alert-danger, .alert-success {
    padding: 20px;
}

.alert-warning {
    background: rgba(246, 199, 97, 0.5);
}

.alert-danger {
    background: rgba(246, 36, 9, 0.5);
}

.alert-success {
    background: rgba(80, 247, 88, 0.5);
}

.small-input {
    width: 75px;
    text-align: right;
}

body {
    margin: 10px;
}

.header {
    margin-bottom: 75px;
}

.board {
    display: grid;
    margin: 0 50px;
}

.field {
    border: 1px solid black;
    min-height: 75px;
    font-size: 75px;
    text-align: center;
}

.popup-body {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
}

.player_symbol_X {
    color: red;
}

.player_symbol_O {
    color: blue;
}

.base-section {
    margin: 40px;
}


/*  Keep this last or I'll need to do the !important thing  */
.hidden {
    display: none;
}
